a:hover {
text-decoration: none;
}

.border-3 {
    border-width:3px !important;
}

.no-bullets {
  list-style-type: none;
}

a.link-white:visited, a.link-white:link {
    color: white;
    text-decoration: underline;
}