<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
          crossorigin="anonymous">
    <title>About Us</title>
</head>
<body class="p-3 mb-2 bg-info text-white">>
<header>
    <nav th:replace="fragments/nav :: nav">
    </nav>
</header>
<br>
<br>
<br>
<br>
<main>
    <div class="container p-3 mb-2 bg-light text-dark">
        <h1>About the Developers</h1>
        <br>
        <div class="card-body">
            <h5 class="card-title" text="Meghan">Meghan Domeck</h5>
            <p class="card-text" text="hello">Hello</p>
            <p class="card-text" text="linkedIn">LinkedIn: https://www.linkedin.com/in/meghan-domeck/</p>
            <p class="card-text" text="gitHUb">GitHub: https://github.com/mdomeck</p>
        </div>
        <br>
        <div class="card-body">
            <h5 class="card-title" text="jack">Jack Nelson</h5>
            <p class="card-text" text="hello">Hello</p>
            <p class="card-text" text="linkedIn">LinkedIn: https://www.linkedin.com/in/jnelsonjava/</p>
            <p class="card-text" text="gitHUb">GitHub: https://github.com/jnelsonjava</p>
        </div>
        <br>
        <div class="card-body">
            <h5 class="card-title" text="kamit">Kamit Satkeev</h5>
            <p class="card-text" text="hello">Hello</p>
            <p class="card-text" text="linkedIn">LinkedIn: https://www.linkedin.com/in/kamit-satkeev-61089769/</p>
            <p class="card-text" text="gitHUb">GitHub: https://github.com/Satkeev</p>
        </div>
        <br>
        <div class="card-body">
            <h5 class="card-title" text="vij">Vijayeta Rangarajan</h5>
            <p class="card-text" text="hello">Hello</p>
            <p class="card-text" text="linkedIn">linkedIn: https://www.linkedin.com/in/vijayetar/</p>
            <p class="card-text" text="gitHUb">gitHub: https://github.com/vijayetar</p>
        </div>


    </div>

</main>
</body>
</html>