<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
          crossorigin="anonymous">
    <title>About Us</title>
</head>
<body class="p-3 mb-2 bg-info text-white">>
<header>
    <nav th:replace="fragments/nav :: nav">
    </nav>
</header>
<br>
<br>
<br>
<br>
<main>
    <div class="container p-3 mb-2 bg-light text-dark">
        <h1>About the Developers</h1>
    </div>
    <br>
    <div class="container p-3 mb-2 bg-light text-dark">
        <div class="card-body">
<!--            <img src="images/meghanPic.jpg">-->
            <h5 class="card-title" text="Meghan">Meghan Domeck</h5>
            <p class="card-text" text="hello">Meghan is a software developer from Ohio! She enjoys fixing things and solving problems. She is proactive about improving systems and willing to collaborate and work as part of a team. Software development became an interest after faced with a career change opportunity. She enjoys the challenge and impact that is made working in the coding field. She can also be found spending time with family and friends. Some of her interests are knitting, jigsaw puzzles and playing cello.</p>
            <a align=left href="https://www.linkedin.com/in/meghan-domeck/"><img src="https://i.imgur.com/EFHo8La.png" alt="linkedin logo"/></a>
            <a align=left href="https://github.com/mdomeck">&nbsp<img src="https://i.imgur.com/T1riCAv.png" alt="github logo"/></a>
        </div>
    </div>
    <br>
    <div class="container p-3 mb-2 bg-light text-dark">
        <div class="card-body">
<!--            <img src="src/main/resources/images/jackPic.jpg">-->
            <h5 class="card-title" text="jack">Jack Nelson</h5>
            <p class="card-text" text="hello">An aspiring software developer with a background in manufacturing management. I love working with a team to tackle challenges.
                Always interested in something new, I started a career working with DC electrical systems for battery backup. There I advanced within the company to manage the production operations. Interested in ways to increase the quality and speed of decisions, I began to create data analysis and planning tools with Python and SQL.</p>
            <a align=left href="https://www.linkedin.com/in/jnelsonjava/"><img src="https://i.imgur.com/EFHo8La.png" alt="linkedin logo"/></a>
            <a align=left href="https://github.com/jnelsonjava">&nbsp<img src="https://i.imgur.com/T1riCAv.png" alt="github logo"/></a>
        </div>
    </div>
    <br>
    <div class="container p-3 mb-2 bg-light text-dark">
        <div class="card-body">
<!--            <img src="src/main/resources/images/kamitPic.jpg">-->
            <h5 class="card-title" text="kamit">Kamit Satkeev</h5>
            <p class="card-text" text="hello">My name is Kamit Satkeev. Im a software developer and specialized in Java, Javascript.  I’m passionate solving complex challenges and I’m recently  moved to US and looking a new challenge. My last job in US is a installation technician for Comcast contractor company, now due to Code Fellows where the team inspired me. My dream will come true. I catch up my challenge.</p>
            <a align=left href="https://www.linkedin.com/in/kamit-satkeev-61089769/"><img src="https://i.imgur.com/EFHo8La.png" alt="linkedin logo"/></a>
            <a align=left href="https://github.com/Satkeev">&nbsp<img src="https://i.imgur.com/T1riCAv.png" alt="github logo"/></a>
        </div>
    </div>
    <br>
    <div class="container p-3 mb-2 bg-light text-dark">
        <div class="card-body">
<!--            <img src="src/main/resources/images/VijR.PNG">-->
            <h5 class="card-title" text="vij">Vijayeta Rangarajan</h5>
            <p class="card-text" text="hello">Full stack software web developer with experience engineering JavaScript, Java and Python based applications using React, REST APIs and relational SQL based data sources. Resourceful, energetic, people and process leader, collaborative with experience leading teams of up to 80 people in a clinical setting. Agile performer demonstrating success in challenging circumstances. Passionate about developing apps that target diverse groups, are insightful and transparent.</p>
            <a align=left href="https://www.linkedin.com/in/vijayetar/"><img src="https://i.imgur.com/EFHo8La.png" alt="linkedin logo"/></a>
            <a align=left href="https://github.com/vijayetar">&nbsp<img src="https://i.imgur.com/T1riCAv.png" alt="github logo"/></a>
        </div>
    </div>

</main>
</body>
</html>