<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
          crossorigin="anonymous">
    <title>Title</title>
</head>
<body>
<header>
    <nav th:replace="fragments/nav :: nav">
    </nav>
</header>
<br>
<br>
<br>
<br>
<main>
    <form action="/addcontacts" method="POST">
        <legend>Add Contacts</legend>
        Name: <input type="text" name="name">
        Linkedin: <input type="text" name="linkedin">
        <input type="submit" value="Submit">
    </form>
</main>
</body>
</html>