<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
          crossorigin="anonymous">

    <title>Document</title>
</head>
<body>
<header>
    <nav th:replace="fragments/nav :: nav">
    </nav>
</header>
<main>
    <h1> These are All My Jobs </h1>

    <section th:each="jobs: ${user.getJobList()}">
        <a th:href="'/jobdetails/'+ ${user.getJobList().indexOf(jobs)+1}">
        <div th:class="${jobs.getJobStatus().getClassString()}">
        <p th:text="${jobs.getCreatedAt()}"></p>
        <p th:text="${jobs.title}"></p>
        <p th:text="${jobs.companyUrl}"></p>
        <p th:if="${jobs.getJobStatus()}"></p>
        <p th:text="${jobs.getJobStatus().getStatus()}"></p>
        </div>
        </a>
    </section>

</main>
</body>
</html>