<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
          crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/css/styles.css">

    <title>Document</title>
</head>
<body class="p-3 mb-2 bg-light text-white">
<header>
    <nav xmlns:th="http://www.w3.org/1999/xhtml" class="navbar fixed-top navbar-light bg-info text-white" style="background-color: #e3f2fd;">
        <br>
        <br>
        <br>
        <div class="nav-brand"><a href="/" class="text-white">Search Jobs</a></div>
        <div  class = "nav-brand text-decoration-none" th:if="${principal}"><a href="/addjob" class="text-white">Add Job</a></div>
        <div class = "nav-brand text-decoration-none"  th:if="${principal}"><a href="/allmyjobs" class="text-white">Saved Jobs</a></div>
        <div class = "nav-brand text-decoration-none"  th:if="${principal}"><a href="/logout" class="text-white">Logout</a></div>
        <div  class = "nav-brand text-decoration-none" th:unless="${principal}"><a href="/login" class="text-white">Login</a></div>
        <div class = "nav-brand text-decoration-none" th:unless="${principal}"><a href="/signup" class="text-white">Signup</a></div>
        <br>
        <br>
        <br>
    </nav>
</header>
<br>
<br>
<br>
<br>
<main>
    <div class="container">
        <div class="row">
    <section th:each="jobs: ${user.getJobList()}" class="col-sm">
        <div class="card my-3" style="width: 18rem;">
        <a th:href="'/jobdetails/'+ ${jobs.getId()}" class="text-decoration-none">
<!--            and jobs.postList.get(jobs.postList.size()-1).getCreatedAt().compareTo(currentDate)<0}-->
<!--            <div th:class="${jobs.getLastUpdated().compareTo(currentDate)<-1}? ${blackClass}: ${jobs.getJobStatus().getClassString()}">-->
            <div th:class="${jobs.getJobStatus().getClassString()}">

            <div class="card-body">
                <h5 class="card-title" th:text="${jobs.title}"></h5>
                <p class="card-text" th:text="${jobs.getCompanyName()}"></p>
                <p class="card-text" th:text="${jobs.getLocation()}"></p>
                <p class="card-text" th:text="${jobs.getCreatedAt()}"></p>
            </div>
            </div>
        </a>
        </div>
    </section>
        </div>
    </div>
</main>
</body>
</html>