<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
          crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/css/styles.css">

    <title>Document</title>
</head>
<body>
<header>
    <nav th:replace="fragments/nav :: nav">
    </nav>
</header>
<br>
<br>
<br>
<main class="container mt-5">

    <section class="row" th:if="${currentJob}">
        <h2 th:class="${currentJob.getJobStatus().getClassString()} + ' col-md-6'" th:text="'Job Status: ' + ${currentJob.getJobStatus().getStatus()}"></h2>
        <form class="col-md-6 p-3 mb-2 bg-secondary text-white" action="/status" method="post">
            <legend>Update Job Status</legend>
            <select name="status">
                <option value="viewed">viewed</option>
                <option value="applied">applied</option>
                <option value="contacted">contacted</option>
                <option value="interview">interview</option>
                <option value="offer">offer</option>
                <option value="accepted">accepted</option>
                <option value="rejected">rejected</option>
            </select>
            <input type="hidden" name="jobStatusId" th:value="${currentJob.getJobStatus().getId()}">
            <input type="submit" value="Submit">
        </form>
    </section>

    <section class="row border border-info border-3 bg-info text-white" th:if="${currentJob}">
        <h3 class="col-md-12">Job Details</h3>
        <ul class="row no-bullets">
            <li class="col-md-4" th:text="'Job Title : ' + ${currentJob.getTitle()}"></li>
            <li  class="col-md-4" th:text="'Company : ' + ${currentJob.getCompanyName()}"></li>
            <li  class="col-md-4" th:text="'Company Website : ' + ${currentJob.getCompanyUrl()}"></li>
            <li  class="col-md-4" ><a class="btn btn-secondary" target="_blank" th:href="${currentJob.getUrl()}">Job Posting</a></li>
            <li  class="col-md-4" th:text="'Location : ' + ${currentJob.getLocation()}"></li>
            <li  class="col-md-4" th:text="'Description : ' + ${currentJob.getDescription()}"></li>
         </ul>
    </section>
    <section class="row bg-info mt-2">
        <form class="col-md-12 mt-2 mb-2" action="/updatejobcontacts" method="post">
            <input type="hidden" name="jobId" th:value="${currentJob.getId()}">
            <input class="btn btn-secondary" type="submit" value="Add Contacts">
            <select class="dropdown-toggle btn-secondary" name="contactId">
                <option class="dropdown-header" value="-1">Contact List

                </option>
                <option class="dropdown-item" th:each="contact : ${user.getContactList()}" th:if="${!currentJob.getRelatedContacts().contains(contact)}" th:value="${contact.getId()}" th:text="${contact.getName()}">

                </option>
            </select>
        </form>
           <div class="col-md-3" th:each="contact : ${currentJob.getRelatedContacts()}">
                <form class="d-inline float-left mr-3" action="/remove/contact" method="post">
                    <input type="hidden" name="contactId" th:value="${contact.getId()}">
                    <input type="hidden" name="jobId" th:value="${currentJob.getId()}">
                    <input class="btn btn-sm btn-secondary" type="submit" value="X">
                </form>
               <p class="text-white" th:text="${contact.getName()} + ' at ' + ${contact.getLinkedinUrl()}"></p>
            </div>


    </section>
    <section class="row bg-info mt-2 text-white pb-1" th:if="${currentJob}">
        <form class="col-md-12" action="/post" method="post">
            <legend>Comments
            </legend>
            <input type="text" name="body">
            <input type="hidden" name="jobId" th:value="${currentJob.getId()}">
            <input class="btn btn-secondary btn-sm" type="submit" value="Submit">
        </form>
      <div class="col-md-12" th:each="post : ${posts}">
          <p class="mt-2 mb-1" th:text="${post.getCreatedAt()} + ' : ' + ${post.getBody()}"></p>
          <form class="d-inline float-left mr-3" action="/delete/post" method="post">
              <input type="hidden" name="postId" th:value="${post.getId()}">
              <input class="btn btn-secondary btn-sm" type="submit" value="Delete Comment">
          </form>

          <form action="/update/post" method="post">
              <input type="hidden" name="postId" th:value="${post.getId()}">
              <input type="text" name="body" th:value="${post.getBody()}">
              <input class="btn btn-secondary btn-sm" type="submit" value="Update Comment">
          </form>
      </div>
    </section>

    <section class="row bg-danger mt-2 text-white p-3">
        <p class="col-md-6">WARNING - Deleting a job listing is permanent!</p>
        <form class="col-md-6" action="/delete/job" method="post">
            <input type="hidden" name="jobId" th:value="${currentJob.getId()}">
            Input username: <input type="text" name="name">
            <input class="btn btn-secondary btn-sm" type="submit" value="Delete Job">
        </form>
    </section>


</main>
</body>

</html>