<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<header>
    <nav th:replace="fragments/nav :: nav">
    </nav>
</header>
<main>

    <section th:if="${currentJob}">
        <p th:text="'Job Status: ' + ${currentJob.getJobStatus().getStatus()}"></p>
        <form action="/status" method="post">
            <legend>Update Job Status</legend>
            <select name="status">
                <option value="viewed">viewed</option>
                <option value="applied">applied</option>
                <option value="contacted">contacted</option>
                <option value="interview">interview</option>
                <option value="offer">offer</option>
                <option value="accepted">accepted</option>
                <option value="rejected">rejected</option>
            </select>
            <input type="hidden" name="jobStatusId" th:value="${currentJob.getJobStatus().getId()}">
            <input type="submit" value="Submit">
        </form>
    </section>

    <section th:if="${currentJob}">
        <p>job details</p>
        <ul>
            <li th:text="${currentJob.getTitle()}"></li>
            <li th:text="${currentJob.getCompanyName()}"></li>
            <li th:text="${currentJob.getCompanyUrl()}"></li>
            <li th:text="${currentJob.getUrl()}"></li>
            <li th:text="${currentJob.getLocation()}"></li>
            <li th:text="${currentJob.getDescription()}"></li>
            <li th:text="${currentJob.getType()}"></li>
        </ul>
    </section>

    <section th:if="${currentJob}">
        <form action="/post" method="post">
            <legend>Add Post
            </legend>
            <input type="text" name="body">
            <input type="hidden" name="jobId" th:value="${currentJob.getId()}">
            <input type="submit" value="Submit">
        </form>
      <div th:each="post : ${posts}">
          <p th:text="${post.getPostUser().getUsername()} + ' on ' + ${post.getCreatedAt()}"></p>
          <p th:text="${post.getBody()}"></p>
          <form action="/delete/post" method="post">
              <input type="hidden" name="postId" th:value="${post.getId()}">
              <input type="submit" value="Delete Post">
          </form>
          <form action="/update/post" method="post">
              <input type="hidden" name="postId" th:value="${post.getId()}">
              <input type="text" name="body" th:value="${post.getBody()}">
              <input type="submit" value="Update Post">
          </form>
      </div>
    </section>

    <section>
        <p>WARNING - Deleting a job listing is permanent!</p>
        <form action="/delete/job" method="post">
            <input type="hidden" name="jobId" th:value="${currentJob.getId()}">
            Input username: <input type="text" name="name">
            <input type="submit" value="Delete Job">
        </form>
    </section>


</main>
</body>

</html>