<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<header>
    <nav th:replace="fragments/nav :: nav">
    </nav>
</header>
<h1> This is Home </h1>
<main>
    <form action="/jobsearch" method="POST">
        <legend>Search for Jobs!! </legend>
        Job Title: <input type="text" name="title">
        Location: <input type="text" name="location">
        <input type="submit" value="Submit">
    </form>

    <section th:if="${jobList}">
        <section th:each="jobInfo : ${jobList}">
            <form action="/jobdetail" method="POST">
         <p th:text="${jobInfo.getTitle()}"></p>
         <p th:text="${jobInfo.getLocation()}"></p>
            <a th:href="${jobInfo.getUrl()}">Apply Here</a>
                <p th:text="'this is if it is empty ' + ${viewJobObject.isEmpty()}"></p>
                <p th:text="'this is the value of the job '+${viewJobObject.get(jobList.indexOf(jobInfo))}"></p>
                <input type="hidden" th:value="${jobList.indexOf(jobInfo)}" name="jobIndex">
                <p th:if="${viewJobObject.get(jobList.indexOf(jobInfo))}" th:text="${jobInfo.getDescription()}">
                </p>
                <div th:switch="${viewJobObject.get(jobList.indexOf(jobInfo))}">
                    <span th:case="true">
                <input type="submit" value="hide" name="choice">
                    </span>
                    <span th:case="false">
                <input type="submit" value="view" name="choice">
                    </span>
                </div>
            </form>
            <form action="/saveJobFromApi" method="POST">
                <input type="hidden" th:value="${jobList.indexOf(jobInfo)}" name="jobIndex">
            <input type="submit" value="Save Job">
            </form>
        </section>
</section>
<!--  </form>-->


</main>
</body>
</html>