<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
          crossorigin="anonymous">
</head>
<body class="p-3 mb-2 bg-info text-white">
<header>
    <nav th:replace="fragments/nav :: nav">
    </nav>

</header>
<br>
<br>
<br>
<br>
<main>
    <form action="/jobsearch" method="POST">
        <div class="container">
        <legend class="row justify-content-md-center">
            <h1 class="col-6 col-md-4">Search for Jobs</h1>
        </legend>
            <div class="row justify-content-md-center">
                <div class="col-4">
                    Job Title: <input type="text" name="title"> </div>
                <div class="col-4">
                    Location: <input type="text" name="location"> </div>
                <div class="col-4">
                    <input class="col-6 col-md-4" type="submit" value="Submit"></div>

            </div>
        </div>
    </form>
    <br>
    <br>
    <br>
    <form action="/newsearch" method="POST">
        <div class="container">
            <div class="row justify-content-md-center">
                <div class="col-4">
        <input class="col bg-secondary text-white" type="submit" value="New Search" name="newsearch">
                </div>
            </div>
        </div>
    </form>
    <br>
    <br>
    <section th:if="${jobList}" class="container mx-auto" style="width: 600px;" >
        <section th:each="jobInfo : ${jobList}" class="p-3 mb-2 bg-light text-dark" >
            <form action="/jobdetail" method="POST">
         <h3 th:text="${jobInfo.getTitle()}"></h3>
         <p th:text="${jobInfo.getLocation()}"></p>
            <a th:href="${jobInfo.getUrl()}">Apply Here</a>
                <input type="hidden" th:value="${jobList.indexOf(jobInfo)}" name="jobIndex">
                <p th:if="${viewJobObject.get(jobList.indexOf(jobInfo))}" th:utext="${jobInfo.getDescription()}">
                </p>
                <span  class="justify-content-md-left">
                <div th:switch="${viewJobObject.get(jobList.indexOf(jobInfo))}">
                    <span th:case="true">
                <input type="submit" value="hide" name="choice" class=".col-sm-">
                    </span>
                    <span th:case="false">
                <input type="submit" value="view" name="choice" class=".col-sm-">
                    </span>
                </div>
            </form>
            <form action="/saveJobFromApi" method="POST">
                <input type="hidden" th:value="${jobList.indexOf(jobInfo)}" name="jobIndex">
                <input type="submit" value="Save Job" class=".col-sm-">
            </form>
            </span>
        </section>
        <br>
        <br>
</section>

</main>
<div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</div>
</body>
</html>