<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
          crossorigin="anonymous">
</head>
<body>
<form action="/signup" method="POST">
    Enter Username:<input type="text" name="username">
    Enter Password:<input type="password" name="password">
    Enter First Name:<input type="text" name="firstname">
    Enter Last Name:<input type="text" name="lastname">
    <input type="submit">
</form>


</body>
</html>